<div class="container">
  <div id="content">
    <h1>
      <span class="editable feed-hacker-info" data-name="full_name"><%= @hacker.full_name %><span class="edit_link">edit</span></span>
    </h1>
    <h2>
      <span class="editable feed-hacker-info" data-name="title"><%= @hacker.title %>.<span class="edit_link">edit</span></span>
      <span class="editable feed-hacker-info" data-name="location">In <%= @hacker.location %>.<span class="edit_link">edit</span></span>
    </h2>
    <h2>
      <span class="editable feed-hacker-info" data-name="tag_line"><%= @hacker.tag_line %><span class="edit_link">edit</span></span>
    </h2>
    <ul>
      <li><span class="editable feed-hacker-info" data-name="email"><a href="mailto:<%= @hacker.email %>" target="_blank">Contact</a><span class="edit_link">edit</span></span></li>
      <li><span class="editable feed-hacker-info" data-name="twitter_url"><a href="<%= @hacker.twitter_url %>" target="_blank">Twitter</a><span class="edit_link">edit</span></span></li>
      <li><span class="editable feed-hacker-info" data-name="git_url"><a href="<%= @hacker.git_url %>" target="_blank">Github</a><span class="edit_link">edit</span></span></li>
      <li><span class="editable feed-hacker-info" data-name="hackernews_url"><a href="<%= @hacker.hackernews_url %>" target="_blank">HNews</a><span class="edit_link">edit</span></span></li>
      <li><span class="editable feed-hacker-info" data-name="linkedin_url"><a href="<%= @hacker.linkedin_url %>" target="_blank">LinkedIn</a><span class="edit_link">edit</span></span></li>
    </ul>
    <h3>
      <a href="<%= projects_path %>">Check out my projects!</a>
    </h3>
  </div>
  <img src="<%= @hacker.background %>" id="bg" alt class="bgheight">

  COOKIES
</div>


<script type="text/javascript">
  $(function() {
    $('.edit_link').click(function() {
      var editable = $(this).closest('.editable');
      var field_name = $(editable).data('name');
      $(editable).html('<%= form_for @hacker, :remote => :true do |f| %><input name="hacker[' + field_name + ']" type="text" /><% end %>');
      $(editable).find('form').focus();
    });
  });
</script>



