<div class="row-fluid">
  <div class="span4">

    <a class="btn btn-danger" href="<%= hackers_path %>">Back to the Hackers</a>
    <% if current_hacker == @hacker %>
      <a class="btn btn-success" href="<%= edit_hacker_path(current_hacker) %>">Edit your Profile</a>
      <p><br><%= render :partial => 'private_data', :locals => { :hacker => current_hacker } %><br></p>
    <% else %>
      <a class="btn btn-success" href="<%= new_hacker_payment_path(@hacker) %>">Support this Hacker</a><br><br>
    <% end %>

    <p><span id="feed-hacker-titles">Name</span><br> <span id="feed-hacker-info"><%= @hacker.first_name %> <%= @hacker.last_name %></span></p><br>
    <p><span id="feed-hacker-titles">Address</span><br> <span id="feed-hacker-info"><%= @hacker.address %></span></p><br>
    <p><span id="feed-hacker-titles">Tech stack</span><br> <span id="feed-hacker-info"><%= @hacker.stack %></span></p><br>
    <p><span id="feed-hacker-titles">Current projects</span><br> <span id="feed-hacker-info"><%= @hacker.current_projects %></span></p><br>
    <p><span id="feed-hacker-titles">Objectives</span><br> <span id="feed-hacker-info"><%= @hacker.objectives %></span></p><br>

    <table>
      <thead></thead>
      <tbody>
        <tr>
          <td><a href="<%= @hacker.best_project %>"><img src="/assets/project_img.png"></a></td>
          <td></td>
          <td><a href="<%= @hacker.git_url %>"><img src="/assets/git_icon.png"></a></td>
          <td></td>
          <td><a href="<%= @hacker.twitter_url %>"><img src="/assets/twitter_icon.png"></a></td>
          <td></td>
          <td><a href="<%= @hacker.portfolio_url %>"><img src="/assets/website_icon.png"></a></td>
          <td></td>
          <td><a href="mailto:<%= @hacker.email %>?subject=RE: Loving the Code"><img src="/assets/email_icon.png"></a></td>
        <td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="span6 offset1">
    <p><img src="<%= @hacker.avatar_url %>"></p><br>
  </div>
</div>