<div>
  <% @hacker.projects.each_with_index do |project, index| %>
    <div>
      <%= image_tag project.screenshot.url(:thumb) %>
      <div>
        <h2><%= project.name %></h2>
        <p><%= project.description %></p>
        <p><a href="<%= project.url %>">Link to project</a></p>
      </div>
    </div>
  <% end %>
</div>

<footer>
  <% if current_hacker && current_hacker == @hacker %>
    <%= link_to 'New project', new_hacker_project_path(@hacker), :class => 'btn btn-info' %>
  <% else %>
    <p></p>
  <% end %>

  <%= link_to 'Back to Hacker', hacker_path(@hacker), :class => 'btn btn-danger' %>
  <%= link_to 'Help this Hacker grow', new_hacker_payment_path(@hacker), :class => 'btn btn-success' %>
</footer>