%h2= "Change #{@hacker.first_name} #{@hacker.last_name}'s life"
= render :partial => 'form'

%h4= "*A donation of 10GBP will be made to this hacker."
%h4= "*Donations are funnelled through a common administrated fund."

/ %img(src="/assets/crowdfunders_img.png")

/ %br
/ %br