<!doctype html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Sarina' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "The Hacker Farm" %></title>
    <meta name="description" content="a platform for the creatives to grow and the world to harvest">
    <meta name="author" content="JFP">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "https://js.stripe.com/v2/", "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div>

              <%= yield %>

            </div>
          </div>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>